image @IMAGE@ {
    vfat {
        files = { @FILES@ }
        file linuximage { image = "@KERNEL@" }
	file barebox { image = "@BAREBOX@" }
	file barebox.env { image = "@BAREBOX_ENV@" }
        file wpan-at86rf233-rpi-2-b.dtb { image = "wpan-at86rf233-rpi-2-b.dtb" }
    }
    name = boot-vfat
    size = 32M
}
